.carousel-item {
    /* height: 624.375px; */
    width: 1110px;
}
#uv {
    font-weight: bold;
}
.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}
.purple {
    background-color: purple;   
}
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .infocard-left {
        padding-left: 0px;
    }
    .infocard-right {
        padding-right: 0px;
    }
 }