/* body{
    background-color: #C3C3C3;
} */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .infocard-left {
        padding-left: 0px;
    }
    .infocard-right {
        padding-right: 0px;
    }
 }