/* body{
    background-color: #C3C3C3;
} */
/* Small devices (landscape phones, 576px and up) */


.carousel-caption{
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
    }

.carousel-inner{
    max-height: 700px !important;
}
.carousel-item img{
        max-height: 370px;
        max-width: 400px;
        min-height: 350px;
        
    }
.carousel{
    padding-bottom: 5px;
}

@media (min-width: 320px) {
    .carousel-caption p{
    font-size: 8px;
    }
    .carousel-caption h1{
    font-size: 14px;
    }
    .d-none {
    display: block!important;
    }
    .carousel-item img{
        max-height: 250px;
        max-width: 250px;
    }
}
@media (min-width: 480px) {
    .carousel-caption p{
    font-size: 9px;
    }
    .d-none {
    display: block!important;
    }
    .carousel-item img{
        max-height: 320px;
        max-width: 300px;
        min-height: 300px;
    }
}
@media (min-width: 576px) {
    .carousel-caption p{
    font-size: 10px;
    }
    .d-none {
    display: block!important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 600px) {
    .carousel-caption p{
    font-size: 11px;
    }
    .carousel{
        height: 700px;
    }
    .carousel-inner{
        height: 700px;
    }
}

@media (min-width: 801px) {
    .carousel-caption p{
    font-size: 12px;
    }
    /* .carousel-caption{
        display: flex;
        /* width: inherit;
        align-content: center; */
    /* } */ 
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 1025px) {
    .carousel-caption p{
    font-size: 18px;
    }
}


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1281px) { 
    .carousel-caption p{
    font-size: 18px;
}
    .infocard-left {
        padding-left: 0px;
    }
    .infocard-right {
        padding-right: 0px;
    }
 }